

body{
    
    font-family: "Arial, Helvetica, sans-serif";
    margin-left: 20%;
    font-size: 12px;
    
    
}

name{
    font-size: 25px
    
    
}

category{
    
}

website{
    
}

careerStage{
    
}

date{
    
}


hr{
    
    
}

